.message {
    height: auto;
    display: block;
    word-wrap: break-word;
    // border-bottom: 1px solid;
    padding: 10px;
    .user-name {
        margin: 0;
        color: rgb(138, 135, 135);
    }
    .text-div {
        margin-top: 4px;
        height: auto;
        border-radius: 15px;
        background: rgb(30, 136, 185);
        padding: 10px;
        max-width: 90%;
        display: inline-block;
        .text {
            margin: 0;
            color: white;
            font-weight: bold;
            font-family: cursive;
        }
    }
}